@import '../config/var.less';

* {
	box-sizing: border-box;
}
input {
	padding: 0 0 0 10px;
	outline: none;
	margin: 0;
	border:1px solid #ccc;
	font-size: 14px;
}
h1,h2,h3,h4,h5,p,div,ul,li,body,html,figure {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 48px;
	margin-bottom: 30px;
}
h3 {
	font-size: 18px;
	margin-bottom: 20px;
}
h1,h2,h3,h4,h5,li,span,p,input,strong,em,i,b {
	font-family: @font-pingfang;
}
li {
	list-style: none;
}
img {
	margin: 0;
}
button:focus { outline: none!important; }
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
p {
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 18px;
}
img {
	width: 100%;
	max-width: 100%;
	margin: 40px 0;
}